<!-- Footer -->
<footer class="mdl-mega-footer">
    <div class="mdl-mega-footer__middle-section">
        <div class="mdl-mega-footer__drop-down-section">
        <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
        <h1 class="mdl-mega-footer__heading row text-white">
            <img src="../../assets/img/vamosBA.png" id="img6">
        </h1>
        </div>
        <div class="mdl-mega-footer__drop-down-section">
        <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
        <h1 class="mdl-mega-footer__heading text-white">ACERCA DE ESTE SITIO</h1>
        <ul class="mdl-mega-footer__link-list">
            <li>
                <a [routerLink]="['/terminos']">Términos y condiciones</a>
            </li>
            <li>
                <a [routerLink]="['/privacidad']">Política de privacidad</a>
            </li>
            <li>
                <a [routerLink]="['/sobreEstaWeb']">Sobre esta web</a>
            </li>
            <li>
                <a [routerLink]="['/siteMap']">Mapa de sitio</a>
            </li>
        </ul>
        </div>
        <div class="mdl-mega-footer__drop-down-section">
        <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
        <h1 class="mdl-mega-footer__heading text-white phone-title">TELÉFONOS ÚTILES</h1>
        <ul class="mdl-mega-footer__link-list">
            <li><a [routerLink]="['/emergencias']">
                <i class="material-icons">call</i> 103 | Emergencias
            </a></li>
            <li><a [routerLink]="['/same']">
                <i class="material-icons">call</i> 107 | SAME
            </a></li>
            <li><a [routerLink]="['/lineaSocial']">
                <i class="material-icons">call</i> 108 | Línea Social
            </a></li>
            <li><a [routerLink]="['/atencionCiudadana']">
                <i class="material-icons">call</i> 147 | Atención Ciudadana
            </a></li>
        </ul>
        </div>
        <div class="mdl-mega-footer__drop-down-section">
            <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer__heading text-white">CONTACTO</h1>
            <p>
                <a href="https://es-la.facebook.com">
                    <img class="fa" src="../../assets/img/facebook.png" alt="facebook">
                </a>
                <a href="https://twitter.com/?lang=es">
                    <img class="fa" src="../../assets/img/twitter.png" alt="twitter">
                </a>
                <a href="https://www.youtube.com">
                    <img class="fa" src="../../assets/img/youtube.png" alt="youtube">                </a>
                <a href="https://www.instagram.com">
                    <img class="fa" src="../../assets/img/instagram.png" alt="instagram">
                </a>
                <a href="http://www.buenosaires.gob.ar/rss/noticias">
                    <img class="fa" src="../../assets/img/rss.png" alt="rss">
                </a>
            </p>
        </div>
    </div>
    <hr>
    <div class="mdl-mega-footer__bottom-section">
        <div class="mdl-logo">
            <img src="../../assets/img/bac-footer.png">
        </div>
        <p class="license">
            Los contenidos de Gobierno de la Ciudad Autónoma de Buenos Aires están licenciados bajo Creative Commons Reconocimiento 2.5 Argentina License
        </p>
    </div>
</footer>
