<div class="center2 back">
      <h1>Webs y Apps</h1>
    <div class="">
        <h4>
          Acceso ágil y directo a los contenidos y necesidades del usuario.
        </h4>

        <p>
          La web de la ciudad, <a href="http://www.buenosaires.gob.ar">www.buenosaires.gob.ar</a>, está desarrollada con la incorporación de un sistema de administración de contenidos <strong>Open Source Drupal</strong>.
        </p>
        
        <p>
          Este administrador de contenidos es utilizado en sitios gubernamentales con muchas visitas, como el de Londres y el de la Casa Blanca. Es una herramienta <strong>dinámica y colaborativa</strong> donde cada área de la Ciudad se responsabiliza de la actualización de su contenido.
        </p>
        
        <p>
          Al <strong>descentralizar la carga</strong> de datos, la actualización de información es más fluida y las áreas pueden apropiarse mucho más de la web. La idea es darle al usuario una mejor experiencia en su navegación.
        </p>
        
        <h4><strong>
          Webs más visitadas en el 2016
        </strong></h4>

        <ul>
          <li><a href="http://www.buenosaires.gob.ar/sarmientoba/alumnos">Alumnos S@rmiento BA</a> - 12.201.903 visitas.</li>
          <li><a href="http://www.buenosaires.gob.ar/consulta-de-infracciones">Consulta de infracciones</a> - 6.692.180 visitas.</li>
          <li><a href="http://www.buenosaires.gob.ar/">Home de la Ciudad</a> - 4.182.579 visitas.</li>
          <li><a href="http://www.buenosaires.gob.ar/educacion/docentes/actos-publicos-e-informacion-de-las-juntas/consulta-puntaje-docente">Consulta de puntaje docente</a> - 2.958.263 visitas.</li>
          <li><a href="http://www.buenosaires.gob.ar/subte">Subte</a> - 2.193.500 visitas.</li>
        </ul>
        
        <h4><strong>
          Apps más descargadas en el 2016
        </strong></h4>
        
        <ul>
          <li><a href="http://www.buenosaires.gob.ar/aplicacionesmoviles/ba-como-llego">BA Cómo Llego</a> - 1.508.166 descargas.</li>
          <li><a href="http://www.buenosaires.gob.ar/aplicacionesmoviles/ba-movil">BA Móvil</a> - 365.017 descargas.</li>
          <li><a href="http://www.buenosaires.gob.ar/aplicacionesmoviles/ba-subte">BA Subte</a> - 221.573 descargas.</li>
          <li><a href="http://www.buenosaires.gob.ar/aplicacionesmoviles/ba-ecobici">BA EcoBici</a> - 165.035 descargas.</li>
          <li><a href="http://www.buenosaires.gob.ar/aplicacionesmoviles/ba-wifi">BA WIFI</a> - 140.672 descargas.</li>
        </ul>
        
        <h4><strong>
          Manuales y guías
        </strong></h4>

        <ul>
          <li><a href="http://www.buenosaires.gob.ar/innovacion/ciudadinteligente/gestiondigital/webs-y-apps/manual-de-contenidos">Manual de Contenidos</a></li>
          <li><a href="https://gcba.github.io/BAstrap7/">Manual de Diseño</a></li>
          <li><a href="http://gcba.github.io/apmov/componentes.html">Manual de Apps</a></li>
        </ul>
        
        
        
  </div>
</div>',  
