.back { 
    margin-bottom: 100px; 
    background-color: white;
}

.center2 { 
    padding: 100px 0; 
    padding-left: 50px; 
    padding-right: 150px;
}

ul li.nav-item {
    margin-left: 100px;
}

/*icons*/

.fa{
    font-size: 50px;
    border-radius: 50%;
}