<div class="center2 back">
  <h3>Mapa del Sitio</h3>
  <h4>Menú Principal</h4>
  <div class="row text-dark">
      <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/']" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/expo-coder']" routerLinkActive="active">Expo Coder</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/inscriptos']" routerLinkActive="active">Inscriptos</a>
          </li>
        </ul>
    </div>

    <h4>Acerca de este sitio</h4>
    <div class="row">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a [routerLink]="['/terminos']">Términos y condiciones</a>
            </li>
            <li class="nav-item">
            <a [routerLink]="['/privacidad']">Política de privacidad</a>
            </li>
            <li class="nav-item">
            <a [routerLink]="['/sobreEstaWeb']">Sobre esta web</a>
            </li>
        </ul>
    </div>

    <h4>Teléfonos útiles</h4>
    <div class="row">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a [routerLink]="['/emergencias']">
                    <i class="material-icons">call</i> 103 | Emergencias
                </a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/same']">
                    <i class="material-icons">call</i> 107 | SAME
                </a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/lineaSocial']">
                    <i class="material-icons">call</i> 108 | Línea Social
                </a>    
            </li>
            <li class="nav-item">
                <a [routerLink]="['/atencionCiudadana']">
                    <i class="material-icons">call</i> 147 | Atención Ciudadana
                </a>
            </li>
        </ul>
    </div>

    <h4>CONTACTO</h4>
    <div class="row">
        <p>
          <a href="https://es-la.facebook.com">
              <img class="fa" src="../../assets/img/facebook.png" alt="facebook">
          </a>
          <a href="https://twitter.com/?lang=es">
                 <img class="fa" src="../../assets/img/twitter.png" alt="twitter">
          </a>
          <a href="https://www.youtube.com">
              <img class="fa" src="../../assets/img/youtube.png" alt="youtube">   
          </a>
          <a href="https://www.instagram.com">
              <img class="fa" src="../../assets/img/instagram.png" alt="instagram">
          </a>
          <a href="http://www.buenosaires.gob.ar/rss/noticias">
              <img class="fa" src="../../assets/img/rss.png" alt="rss">
          </a>
        </p>
    </div>


</div>