.back{
    margin-bottom: 100px;
    background-color: white;
}

.center2 {
    padding: 100px 0;
    padding-left: 50px;
    padding-right: 150px;
}

img {
    width: 200px;
    height: 200px;
}

ul {
    text-align: center;
}