<div class="center2 back">
    <h3 class="text-center">Algunos lenguajes que podrás aprender:</h3>
    <div class="row">
        <img src="../../assets/img/02.jpg" class="col-md-4 align-self-center">
        <ul class="list-group list-group-flush col-md-4">
            <li class="list-group-item">HTML5</li>
            <li class="list-group-item">CSS3</li>
            <li class="list-group-item">JavaScript</li>
            <li class="list-group-item">PHP</li>
            <li class="list-group-item">jQuery</li>
            <li class="list-group-item">.NET</li>
            <li class="list-group-item">C</li>
            <li class="list-group-item">C#</li>
            <li class="list-group-item">Java</li>
        </ul>
        <img src="../../assets/img/08.jpg" class="col-md-4 align-self-center">
    </div>
</div>