 <!-- Card-->
<div class="card bg-dark text-white text-center">
    <img class="card-img" src="../../assets/img/codecode.jpg" id="img2">
    <div class="card-img-overlay">
        <div class="center">
            <h1 class="card-title">Expo Coder</h1>
            <p class="lead card-text">¿Queres desarrollar apps, juegos, weds y más?</p>
            <p class="card-text">¡Inscribite!</p>
            <a class="btn btn-lg border border-warning text-warning bg-dark" [routerLink]="['/expo-coder']" role="button">Ver más</a>
        </div>
    </div>
</div>

 <!-- Main-->
 <div class="row my-5 back">
  <div class="col-md-6">
      <div class="container center2">
          <h3>Más de 2.000 participantes aprendieron programación en la última edición</h3>
          <p>Por segundo año consecutivo, la Ciudad desarrolla un innovador evento para que cualquier ciudadano pueda aprender un nuevo lenguaje, el de la programación, que les permitirá armar una página web, aplicaciones y juegos.</p>
      </div>
  </div>
  <div class="col-md-6">
      <img src="../../assets/img/2350.jpg" id="img3">
  </div>
</div>

<!-- Inscriptos -->
<app-inscriptos></app-inscriptos>


